# Note: the last line of multiline regex cannot have the pipe character,
# Otherwise all files will be skipped.
# https://github.com/psf/black/issues/395#issuecomment-499630129
exclude: |
    (?x)(
        ^docs/source/alfacase_definitions/|
        ^tests/alfacase/test_generate_case_description_docstring/|
        ^tests/alfacase/test_generate_list_of_units/
    )
default_language_version:
    python: python3.10
repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
    -   id: ruff-check
        args: [--fix]
    -   id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: debug-statements
