include *.rst *.ini
recursive-include tests *
recursive-include alfasim_sdk *.h *.tab

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
