
div.highlight > pre {
    border-radius: 8px;
    line-height: 1.4em;
    padding: 1.25rem 1.5rem;
    border: 0;
}

@media (min-width: 768px) {
    div.bd-sidebar {
        max-width: 20%;
    }

}


div.tab-content > pre.literal-block {
    border-radius: 8px;
    line-height: 1.4;
    padding: 1.25rem 1.5rem;
    border: 0;
}

td.linenos > div.linenodiv > pre {
    line-height: 1.4em;
    padding: 1.25rem 1.5rem;
}

div.dropdown {
    padding-bottom: 0.1em !important;
}
